*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    text-align: center;
    color: white;
}
.header{
    background-color: #3C3176;
    border: 5px solid brown;


}
main{

    background-color: gray;
}
