
img{
width: 600px;
height: 400px;
}
#flecha{
    height: 15px;
    width: 15px;
}
.container{
    display: flex;
}
.auto{
    background-color:brown;
    margin: 15px;
    padding: 6px;
    border: 5px solid goldenrod;
}
.auto span{
    color: darkorange;
    font-size: 1.7em;
    font-weight: 900;/*el texto se pone con un contorno mas fuerte*/
}