*{
    margin: 0;

    padding: 0;
}
body{
    background-color: black;
    text-align: center;
    color: white;
    font-size: 75px;
}
.header{
    background-color: #3C3176;
    border-bottom: 5px solid brown;


}
main{
    margin-left: 15%;
    margin-right: 15%;
    background-color: gray;
}
#imagen{
    width: 100%;
}
